/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    padding: 3px;
    flex-shrink: 0;
    text-align: center;
}

.center {
    text-align: center;
}

.construction {
    height: 512px;
    background-image: url('./images/underConstruction.jpg');
    background-repeat: no-repeat;
    background-size: contain; 
}

